/* @font-face {
    font-family: "Chayalipi";
    src: url("/public/assets/fonts/Chayalipi.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "Chayalipi", sans-serif !important;
    font-weight: 600 !important;
} */

/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@font-face {
  font-family: "Chayalipi";
  src: url("/public/assets/fonts/Chayalipi.ttf") format("truetype");
  unicode-range: U+0980-09FF;
} */

/* body {
  font-family:
    "Chayalipi",
    "Poppins",
    sans-serif;
    Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
} */


/* 🇧🇩 Bangla Font */
@font-face {
  font-family: "Chayalipi";
  src: url("/public/assets/fonts/Chayalipi.ttf") format("truetype");
  unicode-range: U+0980-09FF;
}

/* 🇺🇸 English Font (Berlin Sans FB Demi) */
@font-face {
  font-family: "HARLOWSI_1";
  src: url("/public/assets/fonts/HARLOWSI_1.TTF") format("truetype");
  unicode-range: U+0000-007F;
}

/* Global Apply */
body {
  font-family: "HARLOWSI_1", "Chayalipi", sans-serif;

}


/* body {
  font-family: "Poppins", sans-serif;
  font-style: italic;
} */